<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="options" label="COM_SKROUTZEASY_FIELDSET_OPTIONS_LABEL">
		<field name="client_id" type="text" default="" label="COM_SKROUTZEASY_CLIENT_ID_LABEL" description="COM_SKROUTZEASY_CLIENT_ID_DESC" />
		<field name="client_secret" type="text" default="" label="COM_SKROUTZEASY_CLIENT_SECRET_LABEL" description="COM_SKROUTZEASY_CLIENT_SECRET_DESC" />
		<field name="redirect_uri" type="text" default="" label="COM_SKROUTZEASY_REDIRECT_URI_LABEL" description="COM_SKROUTZEASY_REDIRECT_URI_DESC" />

		<field type="spacer" />

		<field name="company_field" type="text" default="" label="COM_SKROUTZEASY_COMPANY_LABEL" description="COM_SKROUTZEASY_COMPANY_DESC" />
		<field name="profession_field" type="text" default="" label="COM_SKROUTZEASY_PROFESSION_LABEL" description="COM_SKROUTZEASY_PROFESSION_DESC" />
		<field name="afm_field" type="text" default="" label="COM_SKROUTZEASY_AFM_LABEL" description="COM_SKROUTZEASY_AFM_DESC" />
		<field name="doy_field" type="text" default="" label="COM_SKROUTZEASY_DOY_LABEL" description="COM_SKROUTZEASY_DOY_DESC" />
		<field name="company_phone_field" default="" type="text" label="COM_SKROUTZEASY_COMPANY_PHONE_LABEL" description="COM_SKROUTZEASY_COMPANY_PHONE_DESC" />
		<field name="invoice_type_field" default="" type="text" label="COM_SKROUTZEASY_INVOICE_TYPE_LABEL" description="COM_SKROUTZEASY_INVOICE_TYPE_DESC" />
		<field name="invoice_type_retail_value" type="text" default="" label="COM_SKROUTZEASY_INVOICE_TYPE_RETAIL_VALUE_LABEL" description="COM_SKROUTZEASY_INVOICE_TYPE_RETAIL_VALUE_DESC" />
		<field name="invoice_type_invoice_value" type="text" default="" label="COM_SKROUTZEASY_INVOICE_TYPE_INVOICE_VALUE_LABEL" description="COM_SKROUTZEASY_INVOICE_TYPE_INVOICE_VALUE_DESC" />

		<field type="spacer" />

		<field name="site" type="text" default="https://www.skroutz.gr" label="COM_SKROUTZEASY_SITE_LABEL" description="COM_SKROUTZEASY_SITE_DESC" />
		<field name="authorization_url" type="text" default="/oauth2/authorizations/new" label="COM_SKROUTZEASY_AUTHORIZATION_URL_LABEL" description="COM_SKROUTZEASY_AUTHORIZATION_URL_DESC" />
		<field name="token_url" type="text" default="/oauth2/token" label="COM_SKROUTZEASY_TOKEN_URL_LABEL" description="COM_SKROUTZEASY_TOKEN_URL_DESC" />
		<field name="address_url" type="text" default="/oauth2/address" label="COM_SKROUTZEASY_ADDRESS_URL_LABEL" description="COM_SKROUTZEASY_ADDRESS_URL_DESC" />
	</fieldset>
</config>
